USE [HR]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[COUNTRY_ID] [varchar](2) NOT NULL,
	[COUNTRY_NAME] [varchar](40) NULL,
	[REGION_ID] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[DEPARTMENT_ID] [decimal](4, 0) NOT NULL,
	[DEPARTMENT_NAME] [varchar](30) NOT NULL,
	[MANAGER_ID] [decimal](6, 0) NULL,
	[LOCATION_ID] [decimal](4, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[EMPLOYEE_ID] [decimal](6, 0) NOT NULL,
	[FIRST_NAME] [varchar](20) NULL,
	[LAST_NAME] [varchar](25) NOT NULL,
	[EMAIL] [varchar](25) NOT NULL,
	[PHONE_NUMBER] [varchar](20) NULL,
	[HIRE_DATE] [date] NOT NULL,
	[JOB_ID] [varchar](10) NOT NULL,
	[SALARY] [decimal](8, 2) NULL,
	[COMMISSION_PCT] [decimal](2, 2) NULL,
	[MANAGER_ID] [decimal](6, 0) NULL,
	[DEPARTMENT_ID] [decimal](4, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_history]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_history](
	[EMPLOYEE_ID] [decimal](6, 0) NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
	[JOB_ID] [varchar](10) NOT NULL,
	[DEPARTMENT_ID] [decimal](4, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC,
	[START_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[JOB_ID] [varchar](10) NOT NULL,
	[JOB_TITLE] [varchar](35) NOT NULL,
	[MIN_SALARY] [decimal](6, 0) NULL,
	[MAX_SALARY] [decimal](6, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[LOCATION_ID] [decimal](4, 0) NOT NULL,
	[STREET_ADDRESS] [varchar](40) NULL,
	[POSTAL_CODE] [varchar](12) NULL,
	[CITY] [varchar](30) NOT NULL,
	[STATE_PROVINCE] [varchar](25) NULL,
	[COUNTRY_ID] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LOCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 26-09-2024 15:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[REGION_ID] [decimal](5, 0) NOT NULL,
	[REGION_NAME] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[REGION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[countries] ([COUNTRY_ID], [COUNTRY_NAME], [REGION_ID]) VALUES (N'AR', N'Argentina', CAST(2 AS Decimal(10, 0)))
INSERT [dbo].[countries] ([COUNTRY_ID], [COUNTRY_NAME], [REGION_ID]) VALUES (N'AU', N'Australia', CAST(3 AS Decimal(10, 0)))
INSERT [dbo].[countries] ([COUNTRY_ID], [COUNTRY_NAME], [REGION_ID]) VALUES (N'BE', N'Belgium', CAST(1 AS Decimal(10, 0)))
GO
INSERT [dbo].[departments] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [MANAGER_ID], [LOCATION_ID]) VALUES (CAST(10 AS Decimal(4, 0)), N'Administration', CAST(200 AS Decimal(6, 0)), CAST(1700 AS Decimal(4, 0)))
INSERT [dbo].[departments] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [MANAGER_ID], [LOCATION_ID]) VALUES (CAST(20 AS Decimal(4, 0)), N'Marketing', CAST(201 AS Decimal(6, 0)), CAST(1800 AS Decimal(4, 0)))
INSERT [dbo].[departments] ([DEPARTMENT_ID], [DEPARTMENT_NAME], [MANAGER_ID], [LOCATION_ID]) VALUES (CAST(30 AS Decimal(4, 0)), N'Purchasing', CAST(114 AS Decimal(6, 0)), CAST(1700 AS Decimal(4, 0)))
GO
INSERT [dbo].[employees] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [PHONE_NUMBER], [HIRE_DATE], [JOB_ID], [SALARY], [COMMISSION_PCT], [MANAGER_ID], [DEPARTMENT_ID]) VALUES (CAST(100 AS Decimal(6, 0)), N'Steven', N'King', N'SKING', N'515.123.4567', CAST(N'1987-06-17' AS Date), N'AD_PRES', CAST(24000.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(2, 2)), CAST(0 AS Decimal(6, 0)), CAST(90 AS Decimal(4, 0)))
INSERT [dbo].[employees] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [PHONE_NUMBER], [HIRE_DATE], [JOB_ID], [SALARY], [COMMISSION_PCT], [MANAGER_ID], [DEPARTMENT_ID]) VALUES (CAST(101 AS Decimal(6, 0)), N'Neena', N'Kochhar', N'NKOCHHAR', N'515.123.4568', CAST(N'1987-06-18' AS Date), N'AD_VP', CAST(17000.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(2, 2)), CAST(100 AS Decimal(6, 0)), CAST(90 AS Decimal(4, 0)))
INSERT [dbo].[employees] ([EMPLOYEE_ID], [FIRST_NAME], [LAST_NAME], [EMAIL], [PHONE_NUMBER], [HIRE_DATE], [JOB_ID], [SALARY], [COMMISSION_PCT], [MANAGER_ID], [DEPARTMENT_ID]) VALUES (CAST(102 AS Decimal(6, 0)), N'Lex', N'De Haan', N'LDEHAAN', N'515.123.4569', CAST(N'1987-06-19' AS Date), N'AD_VP', CAST(17000.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(2, 2)), CAST(100 AS Decimal(6, 0)), CAST(90 AS Decimal(4, 0)))
GO
INSERT [dbo].[job_history] ([EMPLOYEE_ID], [START_DATE], [END_DATE], [JOB_ID], [DEPARTMENT_ID]) VALUES (CAST(101 AS Decimal(6, 0)), CAST(N'1989-09-21' AS Date), CAST(N'1993-10-27' AS Date), N'AC_ACCOUNT', CAST(110 AS Decimal(4, 0)))
INSERT [dbo].[job_history] ([EMPLOYEE_ID], [START_DATE], [END_DATE], [JOB_ID], [DEPARTMENT_ID]) VALUES (CAST(101 AS Decimal(6, 0)), CAST(N'1993-10-28' AS Date), CAST(N'1997-03-15' AS Date), N'AC_MGR', CAST(110 AS Decimal(4, 0)))
INSERT [dbo].[job_history] ([EMPLOYEE_ID], [START_DATE], [END_DATE], [JOB_ID], [DEPARTMENT_ID]) VALUES (CAST(102 AS Decimal(6, 0)), CAST(N'1993-01-13' AS Date), CAST(N'1998-07-24' AS Date), N'IT_PROG', CAST(60 AS Decimal(4, 0)))
GO
INSERT [dbo].[jobs] ([JOB_ID], [JOB_TITLE], [MIN_SALARY], [MAX_SALARY]) VALUES (N'AC_ACCOUNT', N'Public Accountant', CAST(4200 AS Decimal(6, 0)), CAST(9000 AS Decimal(6, 0)))
INSERT [dbo].[jobs] ([JOB_ID], [JOB_TITLE], [MIN_SALARY], [MAX_SALARY]) VALUES (N'AC_MGR', N'Accounting Manager', CAST(8200 AS Decimal(6, 0)), CAST(16000 AS Decimal(6, 0)))
INSERT [dbo].[jobs] ([JOB_ID], [JOB_TITLE], [MIN_SALARY], [MAX_SALARY]) VALUES (N'AD_ASST', N'Administration Assistant', CAST(3000 AS Decimal(6, 0)), CAST(6000 AS Decimal(6, 0)))
GO
INSERT [dbo].[locations] ([LOCATION_ID], [STREET_ADDRESS], [POSTAL_CODE], [CITY], [STATE_PROVINCE], [COUNTRY_ID]) VALUES (CAST(1000 AS Decimal(4, 0)), N'1297 Via Cola di Rie', N'989', N'Roma', N'', N'IT')
INSERT [dbo].[locations] ([LOCATION_ID], [STREET_ADDRESS], [POSTAL_CODE], [CITY], [STATE_PROVINCE], [COUNTRY_ID]) VALUES (CAST(1100 AS Decimal(4, 0)), N'93091 Calle della Testa', N'10934', N'Venice', N'', N'IT')
INSERT [dbo].[locations] ([LOCATION_ID], [STREET_ADDRESS], [POSTAL_CODE], [CITY], [STATE_PROVINCE], [COUNTRY_ID]) VALUES (CAST(1200 AS Decimal(4, 0)), N'2017 Shinjuku-ku', N'1689', N'Tokyo', N'Tokyo Prefecture', N'JP')
GO
INSERT [dbo].[regions] ([REGION_ID], [REGION_NAME]) VALUES (CAST(1 AS Decimal(5, 0)), N'Europe\r')
INSERT [dbo].[regions] ([REGION_ID], [REGION_NAME]) VALUES (CAST(2 AS Decimal(5, 0)), N'Americas\r')
INSERT [dbo].[regions] ([REGION_ID], [REGION_NAME]) VALUES (CAST(3 AS Decimal(5, 0)), N'Asia\r')
GO
ALTER TABLE [dbo].[countries] ADD  DEFAULT (NULL) FOR [COUNTRY_NAME]
GO
ALTER TABLE [dbo].[countries] ADD  DEFAULT (NULL) FOR [REGION_ID]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT ('0') FOR [DEPARTMENT_ID]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (NULL) FOR [MANAGER_ID]
GO
ALTER TABLE [dbo].[departments] ADD  DEFAULT (NULL) FOR [LOCATION_ID]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ('0') FOR [EMPLOYEE_ID]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [FIRST_NAME]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [PHONE_NUMBER]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [SALARY]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [COMMISSION_PCT]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [MANAGER_ID]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT (NULL) FOR [DEPARTMENT_ID]
GO
ALTER TABLE [dbo].[job_history] ADD  DEFAULT (NULL) FOR [DEPARTMENT_ID]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT ('') FOR [JOB_ID]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (NULL) FOR [MIN_SALARY]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (NULL) FOR [MAX_SALARY]
GO
ALTER TABLE [dbo].[locations] ADD  DEFAULT ('0') FOR [LOCATION_ID]
GO
ALTER TABLE [dbo].[locations] ADD  DEFAULT (NULL) FOR [STREET_ADDRESS]
GO
ALTER TABLE [dbo].[locations] ADD  DEFAULT (NULL) FOR [POSTAL_CODE]
GO
ALTER TABLE [dbo].[locations] ADD  DEFAULT (NULL) FOR [STATE_PROVINCE]
GO
ALTER TABLE [dbo].[locations] ADD  DEFAULT (NULL) FOR [COUNTRY_ID]
GO
ALTER TABLE [dbo].[regions] ADD  DEFAULT (NULL) FOR [REGION_NAME]
GO
